/*.navigate*/
/*{*/
    /*padding-bottom:70px;*/
    /*position: fixed;*/
/*}*/

.main{
    width:70%;
    padding-top: 70px;
    margin:0 auto;
    /*overflow: hidden;*/
}

/*.page_index*/
/*{*/
    /*position:absolute;*/
    /*bottom:0px;*/
/*}*/

/*.carousel-container{*/
  /*margin-bottom: 20px;*/
/*}*/

/*.item{*/
  /*width:1000px;*/
/*}*/

/*.slide-image{*/
  /*height:300px;*/
/*}*/

/*#movie_img{*/
  /*height:120px;*/
  /*width:100%;*/
/*}*/

/*.thumbnail {*/
    /*height:200px;*/
/*}*/

/*.col-md-4 .col-sm-4 .col-lg-4{*/
    /*background-color: #b81900;*/
    /*height:240px;*/
/*}*/